
@{
    ViewData["Title"] = "Registrarse";
}

<h1>Registrate!</h1>



<div class="text-center">
    <a class="btn btn-danger ml-5" asp-action="RegistrarProfesor">Soy un profesor</a>
    
    <a class="btn btn-primary" asp-action="RegistrarAlumno">Soy un alumno</a>

</div>