@model PNT_PROYECTO.Models.ProfeARegistrar

@{
    ViewData["Title"] = "RegistrarProfesor";
}

@*<h1>Create</h1>

<h4>Profesor</h4>*@
@*<hr />*@
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="RegistrarProfesor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>


            <!--<div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>-->

            <div  class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<Profesor.Rol>()"></select>
            </div>

            <div class="form-group">
                <label asp-for="NombreApellido" class="control-label"></label>
                <input asp-for="NombreApellido" class="form-control" />
                <span asp-validation-for="NombreApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div>
                @{
                    if (ViewBag.mensajeError != null)
                    {
                        <label class="control-label danger">@ViewBag.mensajeError</label>
                    }
                }
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 profesores">
                    <img src="~/quino.jpg" class="imgP">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Registrarse como Profesor</h1>
                        </div>
                        <form asp-action="RegistrarProfesor">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <input asp-for="NombreApellido" class="form-control form-control-user" placeholder="Nombre y Apellido">
                                <span asp-validation-for="NombreApellido" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Mail" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email">
                                <span asp-validation-for="Mail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Contraseña">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="FechaInicio" class="form-control form-control-user" placeholder="Fecha de Inicio">
                                <span asp-validation-for="FechaInicio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Descripcion" class="form-control form-control-user" placeholder="Descripción">
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Tipo" class="control-label"></label>
                                <select asp-for="Tipo" class="form-control form-control-user" asp-items="Html.GetEnumSelectList<Profesor.Rol>()"></select>
                            </div>
                            <div>
                                @{
                                    if (ViewBag.mensajeError != null)
                                    {
                                        <label class="control-label danger">@ViewBag.mensajeError</label>
                                    }
                                }
                            </div>

                            <div class="form-group" align="right">
                                <input type="submit" value="Registrarse" class="btn btn-primary" />
                            </div>
                        </form>
                        <hr>
                        <div align="right">
                            <a asp-action="Index">Volver</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
