@model PNT_PROYECTO.Models.Examen

@{
    ViewData["Title"] = "Details";
}

<h1>Examen</h1>

<div>

    <h4>@Html.DisplayFor(model => model.Titulo)</h4>

    <p>@Html.DisplayFor(model => model.Fecha)</p>

    <p>@Html.DisplayFor(model => model.Profe.NombreApellido)</p>
       
    @{
        foreach (Material m in Model.Materiales) {
            <p>@(m.Titulo)</p>
        }
    }
    

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
