@model PNT_PROYECTO.Models.Material

@{
    ViewData["Title"] = "Details";
}

<h1>Material</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Titulo)</h4>

    <p>@Html.DisplayFor(model => model.Profe.NombreApellido)</p>

    <p> @Html.DisplayFor(model => model.Texto)</p>

    <p>@Html.DisplayFor(model => model.Link)</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
