@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Grupo 1</h1>

<h3><b>Integrantes</b></h3>
<h5>Amorin Arteaga, Arnold</h5>
<h5>Lagares Garcia, Francisco</h5>
<h5>Wainselboim, Andres</h5>

<hr>
<p>Proyecto de gestion de alumnos, profesores, materiales y exámenes para una catedra</p>
