@model PNT_PROYECTO.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}


    <div class="container-fluid h-custom">
        <h1>Login</h1>
        <div class="row d-flex justify-content-center align-items-center">           
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="Index">
                    <!-- Email input -->
                    <div class="form-label-group mb-4 form-group">
                        <input asp-for="Mail" type="email" id="inputEmail" class="form-control form-control-lg" placeholder="Correo electrónico" />
                        <span asp-validation-for="Mail" class="text-danger"></span>
                    </div>
                    <!-- Password input -->               
                    <div class="form-label-group mb-3 form-group">
                        <input asp-for="Password" type="password" id="Password" class="form-control form-control-lg" placeholder="Contraseña" />                        
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    
                    <div class="text-center text-lg-start mt-4 pt-2 form-group">
                        <input type="submit" class="btn btn-primary btn-lg"
                               style="padding-left: 2.5rem; padding-right: 2.5rem;"
                               value="Ingresar">
                            
                        
                        <!--<p class="small fw-bold mt-2 pt-1 mb-0">
                            No estas registrado? <a href="#!"
                                                      class="link-danger">Register</a>
                        </p>-->
                    </div>
                </form>
            </div>
        </div>
    </div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }


